<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stilo.css">
   
    
    <title>Claran</title>
</head>
<body>
    <nav class="navegacao">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cadastrar">Cadastrar Produtos</a></li>
        </ul>
    </nav>

    {{{body}}}



 <script src="/script/script.js"></script>
</body>
</html>