<h1>Cadastar Produto</h1>

<form action="/itens/postar" method="post" class="fomulario">

<div>
    <label for="produtos">Nome do Produto:</label> <br>
    <input type="text" name="nome" id="produtos">
</div>

<div>
    <label for="quantidade">Quantidade:</label> <br>
    <input type="number" name="quantidade" id="quantidade">
</div>

<div>
    <label for="valor">Valor:</label> <br>
    <input type="text" name="valor" id="valor">
</div>

    <input id="btn" type="submit" value="Cadastrar">

</form>